<link href="{{ 'cocktail-carousel.css' | asset_url }}" rel="stylesheet" type="text/css">

{% assign cocktails = product.collections.first.metafields.custom.cocktails_collection.value %}
<div class="cocktail-carousel">
  <h1>Cocktails made by {{ product.category }}</h1>
  <div class="carousel-container">
    {% for cocktail in cocktails limit: 4 %}
      {{ product.category | upcase }}
      {{ cocktail.base_spirit_ | upcase }}
      {% if product.category == cocktail.base_spirit_ %}
        <div class="carousel-item">
          <a href="https://velvet-pour.myshopify.com/pages/cocktail/{{ cocktail.query }}">
            <div class="cocktail-card">
              <img
                src="{{ cocktail.image_file_ | image_url }}"
                width="200"
                height="auto"
                alt="{{ cocktail.title }}"
                class="cocktail-image"
              >
              <h2 class="cocktail-title">{{ cocktail.title }}</h2>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Cocktail recommendation",

  "presets": [
    {
      "name": "Cocktail Recommendation"
    }
  ]
}
{% endschema %}
